

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section:not(:first-of-type) {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px dotted #ccc;
}

.start-hidden {
	display: none;
}

.user-mgt .has-user .avatar {
	height: 36px;
	width: 36px;
}
